.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide1{
    background-image: url('https://i.ibb.co/QbyP6F2/rev-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
  }
  .slide2{
    background-image: url('https://i.ibb.co/Y83355B/pexels-keira-burton-6146978.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
  }
  .slide3{
    background-image: url('https://i.ibb.co/G0g2YrV/pexels-william-fortunato-6140686.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
  }
  .slide4{
    background-image: url('https://i.ibb.co/RjbqjDb/pexels-charlotte-may-5966011.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
  }

  .Rbg{
    background-image: url('https://i.ibb.co/T41H2YC/teacher-s-desk-which-writing-materials-lie-evening-lamp-89381-1558.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
  .Lbg{
    background-image: url('https://i.ibb.co/j4Sy7DS/cool-dark-wooden-wall-uqxzonyuol5hwv8y.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Cbg{
    background-image: url('https://i.ibb.co/0Ks3VK5/table-with-textbooks-alarm-clock-stationery-apple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   background-position: bottom center;
  }
  .swal2-container {
    z-index: 2000;
  }